<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-admin.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title></title>

</head>
<body>
<script>
    window.onload = function () {
        const token = sessionStorage.getItem('token');

        if (!token) {
            alert('Debes iniciar sesión primero.');
            window.location.href = '../index.html';
            return;
        }

        const payload = JSON.parse(atob(token.split('.')[1]));


        const currentTime = Math.floor(Date.now() / 1000);
        if (payload.exp < currentTime) {
            alert('Token expirado. Debes iniciar sesión nuevamente.');
            sessionStorage.removeItem('token');
            sessionStorage.removeItem('idGerente');
            window.location.href = '../index.html';
            return;
        }


        if (payload.role !== 'GER') {
            alert('Acceso no autorizado.');
            sessionStorage.removeItem('idGerente');
            window.location.href = '../index.html';
            return;
        }
        const role = payload.role;
        console.log('role', role);

        const idGerente = payload.id;
        const storedId = localStorage.getItem('idGerente');
        const tokenenv = token

        if (idGerente !== storedId) {
            localStorage.setItem('idGerente', idGerente);
            console.log('Recargando la página...');
            location.reload();
        }
    };
</script>
<div id="app">
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2>Clinic<span>Manager</span></h2>
        </div>
        <div class="header-user">
            <p class="user">{{ idGerente }}</p>
        </div>
        <div class="search--user--profile">
            <button class="button--user--profile">
                <div class="picon lock" >
                    <i class="fa fa-user"></i>
                </div>
            </button>
        </div>
    </section>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="manager.html" id="active--link">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Empleados</span>
                    </a>
                </li>
                <li>
                    <a href="#" @click="generarInforme">
                        <span class="icon icon-9"><i class="ri-file-download-line"></i></span>
                        <span class="sidebar--item">Generar Informe</span>
                    </a>
                </li>
            </ul>
            <li>
                <a href="#" @click="logout">
                    <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                    <span class="sidebar--item">Logout</span>

                </a>
            </li>
        </div>

        <div class="main--content">
            <div class="overview">
                <div class="title">
                </div>
                <div class="cards">
                    <div class="card card-1">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Total Empleados Asignados</h5>
                                <h1>{{empleados.length}}</h1>
                            </div>
                            <i class="ri-user-2-line card--icon--lg"></i>
                        </div>

                    </div>

                </div>
            </div>
            <div class="employees">
                <div class="title">
                    <h2 class="section--title">Empleados Asociados</h2>
                </div>
                <!-- Tabla de empleados -->
                <table class="table" v-if="empleados.length > 0">
                    <thead>
                    <tr>
                        <th>ID Empleado</th>
                        <th>Nombre Completo</th>
                        <th>Estado</th>
                        <th>Área Encargada</th>
                        <th>Horario</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="empleado in empleados" :key="empleado.ID_EMPLEADO">
                        <td data-label="ID Empleado">{{ empleado.ID_EMPLEADO }}</td>
                        <td data-label="Nombre Completo">{{ empleado.NOMBRE_COMPLETO }}</td>
                        <td data-label="Estado">{{ empleado.ESTADO_USUARIO }}</td>
                        <td data-label="Área Encargada">{{ empleado['AREA ENCARGADA'] }}</td>
                        <td data-label="Horario">{{ empleado.HORARIO }}</td>
                        <td data-label="Acciones">
                            <button @click="mostrarFormularioTarea(empleado.ID_EMPLEADO) "
                                    class="btn-icon1" title="Asignar Tarea"><i class="fas fa-tasks"></i></button>

                            <button @click="verTareas(empleado.ID_EMPLEADO)"
                                    class="btn-icon2" title="Ver Tarea"><i class="fas fa-eye "></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <p v-else>No hay empleados asociados.</p>

                <div v-if="mostrarFormulario" class="modal-overlay">
                    <div class="modal-content">
                        <span class="close-button" @click="cerrarFormularioTarea">&times;</span>
                        <h3>Asignar tarea al empleado</h3>
                        <p>ID del empleado: {{ idEmpleado }}</p>
                
                        <form @submit.prevent="asignarTarea" class="formulario-horizontal">
                            <div class="form-group-horizontal">
                                <label for="tarea">Nombre Tarea:</label>
                                <input type="text" v-model="tarea" required>
                            </div>
                
                            <div class="form-group-horizontal">
                                <label for="descripcion">Descripción:</label>
                                <textarea v-model="descripcion" required></textarea>
                            </div>
                
                            <div class="form-group-horizontal">
                                <label for="prioridad">Prioridad:</label>
                                <select v-model="prioridad" required>
                                    <option value="ALT">Alta</option>
                                    <option value="MED">Media</option>
                                    <option value="BAJ">Baja</option>
                                </select>
                            </div>
                
                            <div class="form-group-horizontal">
                                <label for="fechaVencimiento">Fecha de Vencimiento:</label>
                                <input type="datetime-local" v-model="fechaVencimiento" required>
                            </div>
                
                            <div class="form-group-horizontal">
                                <label for="idHabitacion">Habitación:</label>
                                <select id="idHabitacion" v-model="idHabitacion" class="form-control">
                                  <option disabled value="">Selecciona una habitación</option>
                                  <option value="101">101</option>
                                  <option value="102">102</option>
                                  <option value="103">103</option>
                                  <option value="104">104</option>
                                  <option value="105">105</option>
                                  <option value="201">201</option>
                                  <option value="202">202</option>
                                  <option value="203">203</option>
                                  <option value="204">204</option>
                                  <option value="205">205</option>
                                </select>
                              </div>
                              
                            <div class="form-group-horizontal">
                                <label for="estado">Estado:</label>
                                <select v-model="estado" required>
                                    <option value="ASG">Asignada</option>
                                    <option value="COM">Completada</option>
                                    <option value="SCM">En progreso</option>
                                </select>
                            </div>
                
                            <button type="submit" class="btn-submit">Asignar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="managerG.js"></script>
</body>
</html>