<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-admin.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Ver Tareas</title>
</head>
<body>
<script>
    window.onload = function () {
        const token = sessionStorage.getItem('token');

        if (!token) {
            alert('Debes iniciar sesión primero.');
            window.location.href = '../index.html';
            return;
        }

        const payload = JSON.parse(atob(token.split('.')[1]));


        const currentTime = Math.floor(Date.now() / 1000);
        if (payload.exp < currentTime) {
            alert('Token expirado. Debes iniciar sesión nuevamente.');
            sessionStorage.removeItem('token');
            sessionStorage.removeItem('idGerente');
            window.location.href = '../index.html';
            return;
        }


        if (payload.role !== 'GER') {
            alert('Acceso no autorizado.');
            sessionStorage.removeItem('idGerente');
            window.location.href = '../index.html';
            return;
        }
        const role = payload.role;
        console.log('role', role);

        const idGerente = payload.id;
        const storedId = localStorage.getItem('idGerente');
        const tokenenv = token

        if (idGerente !== storedId) {
            localStorage.setItem('idGerente', idGerente);
            console.log('Recargando la página...');
            location.reload();
        }
    };
</script>
<div id="app">
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2>Hosp<span>Ital</span></h2>
        </div>
        <div class="header-user">
            <p class="user">{{ idGerente }}</p>
        </div>
        <div class="search--notification--profile">
            <button class="button--notification--profile">
                <div class="picon lock" >
                    <i class="fa fa-user"></i>
                </div>
            </button>
        </div>
    </section>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="manager.html">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Empleados</span>
                    </a>
                </li>
            </ul>
            <li>
                <a href="#" @click="logout">
                    <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                    <span class="sidebar--item">Logout</span>
                </a>
            </li>
        </div>

        <div class="main--content">
            <h2>Tareas Asignadas al empleado: {{ idEmpleado }}</h2>
            <label class="filters">
                <select name="date" class="dropdown doctor--filter" @change="filtrarPorPrioridad($event.target.value)">
                    <option value="">All</option>
                    <option value="ALT">Alta</option>
                    <option value="MED">Media</option>
                    <option value="BAJ">Baja</option>
                </select>
            </label>

            <div v-if="verTareasU.length > 0">
                <table>
                    <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Habitación</th>
                        <th>Prioridad</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="tarea in tareasFiltradas" :key="tarea.ID_TAREA">
                        <td>{{ tarea.DESCRIPCION }}</td>
                        <td>{{ tarea.ESTADO }}</td>
                        <td>{{ new Date(tarea.FECHA_VENCIMIENTO).toLocaleString() }}</td>
                        <td>{{ tarea.ID_HABITACION }}</td>
                        <td>{{ tarea.PRIORIDAD }}</td>
                        <td>
                            <button @click="abrirModal(tarea)"   class="btn-icon3" title="Editar"><i class="fa fa-edit"></i></button>
                            <button @click="eliminarTarea(tarea.ID_TAREA)"  class="btn-icon4" title="Elimianr" > <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p v-else>selecciona un  empleado.</p>
        </div>


        <div v-if="modalVisible" class="modal">
            <div class="modal-content">
                <span class="close" @click="cerrarModal">&times;</span>
                <h2>Editar Tarea</h2>
                <form @submit.prevent="editarTarea">
                    <label for="idHabitacion">Habitación:</label>
                    <input v-model="tareaSeleccionada.ID_HABITACION" id="idHabitacion" type="number" required>
        
                    <label for="nombre">Nombre:</label>
                    <input v-model="tareaSeleccionada.NOMBRE" id="nombre" type="text" maxlength="30" required>
        
                    <label for="descripcion">Descripción:</label>
                    <textarea v-model="tareaSeleccionada.DESCRIPCION" id="descripcion" maxlength="100" required></textarea>
        
                    <label for="prioridad">Prioridad:</label>
                    <select v-model="tareaSeleccionada.PRIORIDAD" id="prioridad" required>
                        <option value="ALT">Alta</option>
                        <option value="MED">Media</option>
                        <option value="BAJ">Baja</option>
                    </select>
        
                    <label for="fechaVencimiento">Fecha de Vencimiento:</label>
                    <input v-model="tareaSeleccionada.FECHA_VENCIMIENTO" id="fechaVencimiento" type="datetime-local" required>
        
                    <label for="estado">Estado:</label>
                    <select v-model="tareaSeleccionada.ESTADO" id="estado" required>
                        <option value="ASG">Asignada</option>
                        <option value="COM">Completada</option>
                        <option value="SCM">En progreso</option>
                    </select>
        
                    <button type="submit"><i class="fas fa-check"></i></button>
                </form>
            </div>
        </div>
    </section>
</div>
<script src="viewTasks.js">
</script>
</body>
</html>