* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    width: 100%;
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}

.logo span {
    color: #5073fb;
}

.search--notification--profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 300px);
    padding: 0 40px;
}

.notification--profile {
    display: flex;
    align-items: center;
}

.button--notification--profile {
    background: transparent;
    font-size: x-large;
}

.profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Menu lateral  */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #f1f1f1;
    transition: .3s;
}

.sidebar.active {
    width: 103px;
    overflow: hidden;
}

.sidebar.active .sidebar--item {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.sidebar--items a:hover,
.sidebar--bottom-items a:hover {
    background-color: #5073fb;
    color: #fff;
}

#active--link {
    background-color: #5073fb;
    color: #fff;
}

.sidebar--bottom-items li:last-child a {
    margin-bottom: 0;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 1.3rem;
}

.icon-0 {
    color: #5073fb;
}

.icon-1 {
    color: #c5bc58;
}

.icon-2 {
    color: #a280e9;
}

/* Contenedor Principal  */

.parent-container {
    display: flex;
    flex-direction: column;
}

.main--content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding: 0 40px;
    overflow-y: scroll;
    transition: .3s;
}

.main--content.active {
    width: calc(100% - 103px);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.section--title {
    font-weight: 400;
}

.dropdown {
    outline: none;
    border: none;
    background-color: #f1f4f8;
    border-radius: 5px;
    width: 150px;
    padding: 5px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    transition: .3s;
    width: fit-content;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card--data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card h1 {
    font-size: 30px;
    margin-top: 10px;
}

.card--stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

.card--stats span {
    display: flex;
    align-items: center;
}


.card-1 {
    background-color: rgba(251, 80, 217, 0.1);
}

.card-1 .card--title {
    color: rgb(236, 64, 64);
}

/*Lista de tareas */
.task-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.asignada-bg {
    background-color: #fffbea; /* Amarillo claro */
    border-left: 4px solid #ffc107; /* Amarillo */
}

/* Fondo para el estado "En Progreso" */
.progreso-bg {
    background-color: #e0f7fa; /* Azul claro */
    border-left: 4px solid #00bcd4; /* Azul */
}

/* Fondo para el estado "Completada" */
.completada-bg {
    background-color: #e8f5e9; /* Verde claro */
    border-left: 4px solid #4caf50; /* Verde */
}

/* Estilo común para las tarjetas */
.task-card {
    border-radius: 8px;
    padding: 16px;
    width: calc(50% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.task-header h3 {
    font-size: 1.2em;
    margin: 0;
}

.task-status {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
}

.task-function {
    font-size: 1em;
    color: #666;
    margin: 8px 0;
}

.task-time {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 12px;
}

.task-actions {
    text-align: right;
}

.task-actions i {
    font-size: 1.2em;
    color: #888;
    cursor: pointer;
    margin: 0 4px;
    transition: color 0.3s;
}

.task-actions i:hover {
    color: #333;
}

/*Estilo del selec */

.estado-select {
    border-radius: 10px;
}

.estado-select:focus {
    outline: none;
}

.estado-select > option {
    color: #333;
}

.estado-select.asignada {
    background-color: #d9534f;
}

.estado-select.progreso {
    background-color: #f0ad4e;
}

.estado-select.completada {
    background-color: #5cb85c;
}

/*Estilo del boton Añadir*/
.add {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #5073fb;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.add:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add i {
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

/*Estilo del de editar tarea */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

/* Estilos adicionales para los elementos del formulario */
.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal-content button:hover {
    opacity:  0.8;
}


/* responsive starts here */
@media screen and (max-width: 1350px) {
    .cards,
    .employees--cards {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1024px) {
    table {
        min-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        padding-left: 30px;
        width: fit-content;
    }

    .search--notification--profile {
        padding: 0 20px;
        margin-left: auto;
    }

    .main--content {
        padding: 0 20px;
    }

    .sidebar {
        padding: 20px;
    }

    .sidebar.active {
        width: 85px;
    }

    .main--content.active {
        width: calc(100% - 85px);
    }
}

@media screen and (max-width: 590px) {
    .search,
    .lock,
    .chat {
        display: none;
    }

    .notification--profile {
        margin-left: auto;
    }

    .search--notification--profile {
        width: fit-content;
    }

    .sidebar {
        transform: translateX(-100%);
        z-index: 10;
        background-color: #fff;
    }

    .sidebar.active {
        transform: translateX(0);
        width: 300px;
    }

    .sidebar.active .sidebar--item {
        display: block;
    }

    .main--content {
        width: calc(100% - 0px);
    }

    .main--content.active {
        width: calc(100% - 0px);
    }
}

@media screen and (max-width: 450px) {
    .doctor--filter {
        display: none;
    }

    .main--content {
        padding: 0 10px;
    }

    .logo {
        padding-left: 10px;
    }

    .search--notification--profile {
        padding: 0 10px;
    }

    .sidebar {
        padding: 10px;
    }
}
