<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title></title>

</head>
<body>
<script>
    window.onload = function () {
        const token = sessionStorage.getItem('token');

        if (!token) {
            alert('Debes iniciar sesión primero.');
            window.location.href = '../index.html';
            return;
        }


        const payload = JSON.parse(atob(token.split('.')[1]));

        const currentTime = Math.floor(Date.now() / 1000);
        if (payload.exp < currentTime) {
            alert('Token expirado. Debes iniciar sesión nuevamente.');
            sessionStorage.removeItem('token');
            window.location.href = '../index.html';
            return;
        }


        if (payload.role !== 'EMP') {
            alert('Acceso no autorizado.');
            window.location.href = '../index.html';
            return;
        }

        const role = payload.role;
        console.log('role', role);

        const idEmpleado = payload.id;
        const storedId = localStorage.getItem('idEmpleado');
        const tokenenv = token

        if (idEmpleado !== storedId) {
            localStorage.setItem('idEmpleado', idEmpleado);
            console.log('Recargando la página...');
            location.reload();
        }

    }
</script>
<section class="header">
    <div class="logo">
        <i class="ri-menu-line icon icon-0 menu"></i>
        <h2>Hosp<span>Ital</span></h2>
    </div>
    <div class="header-user">
        <p class="user">{{ idEmpleado }}</p>
    </div>

    <div class="search--user--profile">
        <button class="button--user--profile">
            <div class="picon lock" title="Notificaciones">
                <i class="fa fa-user"></i>
            </div>
        </button>
    </div>
</section>
<section class="main">
    <div class="sidebar">
        <ul class="sidebar--items">
            <li>
                <a href="user.html" id="active--link">
                    <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                    <span class="sidebar--item">Tareas asignadas </span>
                </a>
            </li>

            <li>
                <a @click="verTarea(empleado.idEmpleado)">
                    <span class="icon icon-2"><i class="ri-calendar-2-line"></i></span>
                    <span class="sidebar--item">Tareas Completas </span>
                </a>
            </li>
        </ul>
        <li>
            <a href="../index.html">
                <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                <span class="sidebar--item">Logout</span>
            </a>
        </li>
    </div>

    <div class="main--content">

        <div id="app">
            <div class="parent-container">
                <div class="card card-1">
                    <div class="card--data">
                        <div class="card--content">
                            <h5 class="card--title">Tareas Pendientes</h5>
                            <h1>{{verTareasU.length}}</h1>
                        </div>
                    </div>
                </div>
                <div class="overview">
                    <div class="title">
                        <h2 class="section--title">Tareas Asignadas</h2>
                    </div>
                    <div class="task-cards">
                        <div class="task-card"
                             v-for="tarea in verTareasU"
                             :key="tarea.ID_TAREA"
                             :class="getTaskCardClass(tarea.ESTADO)">
                            <div class="task-header">
                                <h3>{{ tarea.NOMBRE }}</h3>
                                        <span class="task-status">
                              <select v-model="tarea.ESTADO" class="estado-select"
                                     :data-task-id="tarea.ID_TAREA"
                                    @change="updateTaskStatus(tarea.ID_TAREA, tarea.ESTADO)">
                                <option value="ASG">Asignada</option>
                                <option value="SCM">En Progreso</option>
                                <option value="COM">Completada</option>
                              </select>
                           </span>
                            </div>
                            <p class="task-function">{{ tarea.DESCRIPCION }}</p>
                            <div class="task-time">
                                <span><strong>Habitación:</strong> {{ tarea.ID_HABITACION }}</span>
                                <span><strong>Vence:</strong> {{ formatFecha(tarea.FECHA_VENCIMIENTO) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="employee.js">
</script>
</body>
</html>