<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-super-admin.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title></title>
</head>
<body>
<script>
    window.onload = function () {
        const token = sessionStorage.getItem('token');

        if (!token) {
            alert('Debes iniciar sesión primero.');
            window.location.href = '../index.html';
            return;
        }

        const payload = JSON.parse(atob(token.split('.')[1]));

        // Verificar la expiración del token
        const currentTime = Math.floor(Date.now() / 1000);
        if (payload.exp < currentTime) {
            alert('Token expirado. Debes iniciar sesión nuevamente.');
            sessionStorage.removeItem('token');
            window.location.href = '../index.html';
            return;
        }

        if (payload.role !== 'ADM') {
            alert('Acceso no autorizado.');
            window.location.href = '../index.html';
            return;
        }
    }
</script>
<div id="app">
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2>Clinic<span>Manager</span></h2>
        </div>
        <div class="header-user">
            <p class="user"></p>
        </div>

        <div class="search--user--profile">
            <button class="button--user--profile">
                <div class="picon lock" >
                    <i class="fa fa-user"></i>
                </div>
            </button>
        </div>
    </section>

    <section class="main">
        <div class="mobile-sidebar"></div>
        <div class="sidebar"></div>

        <div class="sidebar" >
            <ul class="sidebar--items">
                <li>
                    <a href="super-admin.html" id="active--link">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Control</span>
                    </a>
                </li>
                <li>
                    <a href="viewEmp.html" >
                        <span class="icon icon-2"><i class="ri-calendar-2-line"></i></span>
                        <span class="sidebar--item">Ver Lista Empleados </span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar--bottom-items">
                <li>
                    <a href="../index.html">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main--content">
            <div class="employees">
                <div class="title">
                    <div class="overview">
                        <div class="title">
                        </div>
                        <div class="cards">
                            <div class="card card-1">
                                <div class="card--data">
                                    <div class="card--content">
                                        <h5 class="card--title">Total Gerentes Registrados</h5>
                                        <h1>{{gerentes.length}}</h1>
                                    </div>
                                    <i class="ri-user-2-line card--icon--lg"></i>
                                </div>
                            </div>
                            <div class="card card-2">
                                <div class="card--data">
                                    <div class="card--content">
                                        <h5 class="card--title">Total Empleados Registrados</h5>
                                        <h1>{{employees.length}}</h1>
                                    </div>
                                    <i class="ri-user-2-line card--icon--lg"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="employees--right--btns">
                        <a href="createEmp.html">
                            <button class="add">
                                <i class="fa fa-add"></i> Empleado</button>
                        </a>
                    </div>
                </div>
                <h2 class="section--title">Gerentes de Area</h2>
                <div class="employees--cards" id="gerentes-list">
                    <a href="#" class="employees--card" v-for="gerente in gerentes" :key="gerente.id_usuario" @click.prevent="mostrarGerente(gerente)">
                        <div class="img--box--cover">
                            <div class="img--box">
                                <img src="../img/People.png" alt="">
                            </div>
                        </div>
                        <p class="gerente.id_usuario">{{gerente.NOMBRE_COMPLETO}}</p>
                    </a>
                </div>
                <div v-if="showModalGerente" class="modal-overlay">
                    <div class="modal">
                        <button @click="closeModalGerente" class="close-btn">&times;</button>
                        <div v-if="gerenteSeleccionado">
                            <p><strong>ID Persona:</strong> {{ gerenteSeleccionado.ID_PERSONA }}</p>
                            <p><strong>Nombre:</strong> {{ gerenteSeleccionado.NOMBRE_COMPLETO}}</p>
                            <p><strong>Identificación:</strong> {{ gerenteSeleccionado.TIPO_IDENTIFICACION }} - {{ empleadoSeleccionado.ID_PERSONA }}</p>
                            <p><strong>Género:</strong> {{ gerenteSeleccionado.GENERO }}</p>
                            <p><strong>Correo:</strong> {{ gerenteSeleccionado.CORREO }}</p>
                            <p><strong>Dirección:</strong> {{ gerenteSeleccionado.DIRECCION }}</p>
                            <p><strong>Teléfono:</strong> {{ gerenteSeleccionado.TELEFONO }}</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="employees">
                <div class="title">

                    <h2 class="section--title">Empleados</h2>
                    <div class="employees--right--btns">

                    </div>
                </div>
                <div class="employees--cards" id="employees-list">
                    <a href="#" class="employees--card" 
                       v-for="employee in employees" 
                       :key="employee.id_usuario" 
                       @click.prevent="mostrarDetallesEmpleado(employee)">
                        <div class="img--box--cover">
                            <div class="img--box">
                                <img src="../img/People.png" alt="">
                            </div>
                        </div>
                        <p>{{employee.NOMBRE_COMPLETO}}</p>
                    </a>
                </div>

                <div v-if="showModal" class="modal-overlay">
                    <div class="modal">
                        <button @click="closeModal" class="close-btn">&times;</button>
                        <div v-if="empleadoSeleccionado">
                            <p><strong>ID Persona:</strong> {{ empleadoSeleccionado.ID_PERSONA }}</p>
                            <p><strong>Nombre:</strong> {{ empleadoSeleccionado.NOMBRE_COMPLETO}}</p>
                            <p><strong>Identificación:</strong> {{ empleadoSeleccionado.TIPO_IDENTIFICACION }} - {{ empleadoSeleccionado.ID_PERSONA }}</p>
                            <p><strong>Género:</strong> {{ empleadoSeleccionado.GENERO }}</p>
                            <p><strong>Correo:</strong> {{ empleadoSeleccionado.CORREO }}</p>
                            <p><strong>Dirección:</strong> {{ empleadoSeleccionado.DIRECCION }}</p>
                            <p><strong>Teléfono:</strong> {{ empleadoSeleccionado.TELEFONO }}</p>
                            <p><strong>Estado de usuario:</strong> {{ empleadoSeleccionado.ESTADO }}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
<script src="admin.js"></script>
</body>
</html>
