<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-super-admin.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title></title>

</head>
<body>
<script>
    window.onload = function () {
        const token = sessionStorage.getItem('token');

        if (!token) {
            alert('Debes iniciar sesión primero.');
            window.location.href = '../index.html';
            return;
        }


        const payload = JSON.parse(atob(token.split('.')[1]));

        // Verificar la expiración del token
        const currentTime = Math.floor(Date.now() / 1000);
        if (payload.exp < currentTime) {
            alert('Token expirado. Debes iniciar sesión nuevamente.');
            sessionStorage.removeItem('token');
            window.location.href = '../index.html';
            return;
        }


        if (payload.role !== 'ADM') {
            alert('Acceso no autorizado.');
            window.location.href = '../index.html';
            return;
        }
    }</script>
<section class="header">
    <div class="button--bar--profile">
        <button class="button--bar--profile">
            <div class="picon lock">
                <i class="fa fa-bars"></i>
            </div>
        </button>
    </div>
    <div class="logo">
        <i class="ri-menu-line icon icon-0 menu"></i>
        <h2>Hosp<span>Ital</span></h2>
    </div>
    <div class="search--notification--profile">
        <button class="button--notification--profile">
            <div class="picon lock" title="Notificaciones">
                <i class="fa fa-bell"></i>
            </div>
        </button>
    </div>
</section>
<section class="main">
    <div class="sidebar">
        <ul class="sidebar--items">
            <li>
                <a href="super-admin.html" id="active--link">
                    <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                    <span class="sidebar--item">Control</span>
                </a>
            </li>
            <li>
            </li>
            <li>
                <a href="viewEmp.html">
                    <span class="icon icon-2"><i class="ri-calendar-2-line"></i></span>
                    <span class="sidebar--item">Ver Lista Empleados </span>
                </a>
            </li>

        </ul>
        <ul class="sidebar--bottom-items">
            <li>
                <a href="../index.html">
                    <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                    <span class="sidebar--item">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="app">
        <div class="main--content">
            <div class="toolbar">
            </div>
            <h2 class="section--title">Lista de Empleados</h2>

            <label class="filters">
                <div class="search">
                    <input type="text" placeholder="Buscar Empleado..." v-model="searchQuery">
                </div>
                <select name="date" class="dropdown doctor--filter" @change="filtrarEmpleados">
                    <option value="all">Activos</option>
                    <option value="busy">Inactivos</option>
                </select>

            </label>
            <table class="employees-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Rol</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="empleado in empleadosFiltrados" :key="empleado.ID_PERSONA">
                    <td>{{ empleado.ID_PERSONA }}</td>
                    <td>{{ empleado.NOMBRE_COMPLETO }}</td>
                    <td>{{ empleado.ESTADO_USUARIO === 'A' ? 'Activo' : 'Inactivo' }}
                    </td>
                    <td>{{ empleado.NOMBRE_EMPLEO }}</td>
                    <td>{{ empleado.ID_USUARIO }}</td>
                    <td>

                        <button @click="obtenerEmpleadoEspecifico(empleado.ID_USUARIO)" class="btn-icon" title="Editar">
                            <i class="fas fa-edit" ></i>
                        </button>

                        <button v-if="empleado.ESTADO_USUARIO === 'N'"
                                @click="habilitarEmpleado(empleado.ID_USUARIO)"
                                class="btn-icon btn-icon-enable" title="Habilitar">
                            <i class="fas fa-check"></i>
                        </button>

                        <button v-if="empleado.ESTADO_USUARIO === 'A'"
                                @click="DeshabilitarEmpleado(empleado.ID_USUARIO)"
                                class="btn-icon btn-icon-disable" title="Deshabilitar">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>
<script src="admin.js"></script>
</body>
</html>